header {
    padding: 50px 135px;
}

.logo {
    display: flex;
    gap: 20px;
    align-items: center;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo-2 {
    font-family: 'Mulish', sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: #131318;
}

.logo-3 {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.home-btn {
    color: #FF5400;
    font-weight: 700;
}

.logo-4 {

    font-family: 'Mulish', sans-serif;
    font-size: 36px;
    color: #FF5400;
}

.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../g2.png');
    width: 100%;
    height: 500px;
    border-radius: 16px;
    text-align: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    padding-top: 60px;

}

.banner1 {
    color: #FFF;

    font-family: 'Mulish', sans-serif;
    font-size: 64px;
    font-weight: 800;
}

.banner2 {
    color: #FFF;

    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 40px;
}

.banner3 {
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    width: 800px;
    height: auto;
    margin: auto;
}

.banner4 {
    box-sizing: border-box;
    width: 174px;
    height: 52px;
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    border: none;
    border-radius: 8px;
}

.bannerbtn {
    background: #FF5400;
    box-sizing: border-box;
    width: 174px;
    height: 52px;
    padding: 16px;
    border: none;
    border-radius: 8px;
}
/* main{
    padding: 50px 135px;
} */

.mountain {
    display: flex;
    gap: 80px;
    padding: 50px 135px;

}

/* .mountain img{
    width: 490px;
height: 550px;
} */
.mi{
    width: 100%;
    height: 100%;
}

.m1 {
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 800;
}

.m2 {
    color: rgba(19, 19, 24, 0.70);

    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.m3 {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: 800;
    border: none;
    color: #FFF;

}
.mountain1{
    width: 50%;
}
.mountain2{
    width: 50%;
}
.maindestination{
    padding: 50px 80px;
}
.destination{
    color: #131318;

text-align: center;
font-family: 'Mulish', sans-serif;
font-size: 40px;
font-weight: 800;

}
.destination2{
    color: rgba(19, 19, 24, 0.70);

text-align: center;
font-family: 'Mulish', sans-serif;
font-size: 16px;

font-weight: 400;
line-height: 26px;
}
.destination3{
    display: flex;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    padding: 24px 0px;
}
.destination4{
    display: flex;
    grid-template-rows: 1fr 2fr 1fr;
    padding-bottom: 24px;
    gap: 24px;

}
.destination5{
    display: flex;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
}
.honeymoon{
    padding: 50px 135px;
}
.h1{
    color: #131318;

text-align: center;
font-family: 'Mulish', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: 80px;
}
.h2{
    color: rgba(19, 19, 24, 0.70);

text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
margin-bottom: 50px;
}
.h3{
    width: 100%;
    height: 500px;
    border-radius: 8px;
}
.wh{
    padding: 50px 135px;
}
.why1{
    width: 573px;
    height: 284px;
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 25px;

}
.why2{
    width: 573px;
    height: 284px;
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
padding: 25px;
}
.why{
    display: flex;
    gap: 24px;
grid-template-columns: 1fr 1fr;
}
#w11{
    color: #131318;

font-family: 'Mulish', sans-serif;
font-size: 24px;

font-weight: 800;
}
#w12{
    color: #5A5A5D;

    font-family: 'Mulish', sans-serif;
font-size: 16px;

font-weight: 400;
line-height: 26px; 
}
#w21{
    color: #131318;
    font-family: 'Mulish', sans-serif;
font-size: 24px;
font-weight: 800;
}
#w22{
    color: #5A5A5D;

    font-family: 'Mulish', sans-serif;
font-size: 16px;

font-weight: 400;

}
.why3{
    width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
margin-top: 24px;
justify-content: center;
margin-left: 180px;
padding: 50px;
/* margin-bottom: 80px; */
}
#w31{
    color: #131318;
    font-family: 'Mulish', sans-serif;
font-size: 24px;

font-weight: 800;

}
#w32{
    color: #5A5A5D;

    font-family: 'Mulish', sans-serif;
font-size: 16px;

font-weight: 400;
line-height: 26px;
}
#wt1{
    color: #131318;

text-align: center;
font-family: 'Mulish', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
#wt2{
    color: rgba(19, 19, 24, 0.70);

text-align: center;
font-family: 'Mulish', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
margin-bottom: 24px;
}
.news{
    padding: 50px 135px; 
}
.newsletter{
    display: flex;
    gap: 24px;
}
.news1{
    width: 40%;
height: px;
border-radius: 16px;
border: 1px solid #FF5400;
padding: 40px;
}
.news2{
    width: 60%;
height: 100%;
border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
#n1{
    color: #131318;

    font-family: 'Mulish', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
#n2{
    color: #5A5A5D;

    font-family: 'Mulish', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
.n3 , .n4 {
    width: 90%;
    height: 40px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
margin-top: 20px;
border: none;
}
.n5{
    width: 90%;
    height: 40px;
    border-radius: 8px;
    margin-top: 20px;
border: none;
background: #FF5400;
color: #FFF;

text-align: center;
font-family: 'Mulish', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
::placeholder{
    color: rgba(19, 19, 24, 0.30);

    font-family: 'Mulish', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 10px;
}
#hr{
    width: 300px;
height: 1px;
background: rgba(19, 19, 24, 0.10);
}

.ft{
    align-items: center;
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-top: 110px;
}
.ft2{
    color: var(--Dark-01, #131318);

    font-family: 'Mulish', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.ft3{
    color: #FF5400;
    font-family: 'Mulish', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.ft4{
    color: #5A5A5D;
text-align: center;
font-family: 'Mulish', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
text-align: center;
}
.ft5{
text-align: center;
padding-top: 24px;
}
hr{
    width: 872px;
height: 1px;
background: rgba(19, 19, 24, 0.10);

}
.ft6{
    color: #131318;

font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-align: center;
padding-bottom: 110px;
}
footer{
    background: rgba(19, 19, 24, 0.05);
}
