@media screen and (max-width: 600px) {
    header{
        padding: 20px;
    }
    .banner3{
        flex-direction: column;
        width: 80%;
    }
    .banner4{
        width: 100%;
    }
    .banner{
        padding: 10px;
        width: 335px;
height: 100%;
    }
    .banner1{
        font-size: 20px;
    }
    .mountain{
        flex-direction: column;
    }
    .mountain1{
        width: 100%;
    }
    .mountain2{
        width: 100%;
    }
    .maindestination{
        width: 100%;
    }
    .destination3{
        flex-direction: column;
        width: 100%;
    }
    .destination4{
        flex-direction: column;
        width: 100%;
    }
    .destination5{
        flex-direction: column;
        width: 100%;
    }
    .newsletter{
        flex-direction: column;
        width: 100%;

    }
    .news1{
        width: 100%;
        height: 100%;
        text-align: center;
        
        padding: 0px;
        padding-bottom: 20px;
    }
    .news2{
        width: 70%;
        margin: 0px auto;
    }
    .honeymoon{
        padding: 10px;
    }
    .why{
        flex-direction: column;
        width: 100%;
    }
    .why1{
        padding-right: 10px;
    }
    .why3{
        margin-top: 24px;
        margin-left: 0px;
    }
}